@charset "UTF-8";

/* background: linear-gradient(0deg, rgb(248, 199, 94) 0%, rgb(105, 170, 255) 50%) no-repeat; */

:root {
    --cor-azul: rgb(105, 170, 255);
    --cor-laranja: rgb(248, 199, 94);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(185, 215, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100vh;
    width: 100vw;
}

#login {
    background-color: #fff;
    border-radius: .7rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin: auto;
    max-width: 19rem;
    min-height: 36rem;
    overflow: hidden;
}

#imagem {
    background: rgb(248, 199, 94) url('../images/pexels-adrian-cuj-2457096.jpg') center / cover no-repeat;
    display: block;
    height: 15rem;
    width: 100%;
}

#formulario {
    display: block;
    padding: .8rem;
}

#formulario h1 {
    margin: .6rem;
    text-align: center;
}

#formulario p {
    margin: .7rem 0;
}

.dados {
    background-color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
}

.dados > input {
    border: none;
    border-radius: .3rem;
    height: 100%;
    width: 85%;
}

.dados > label > i {
    color: #fff;
    padding: .5rem;
}

input {
    padding: .7rem;
}

.inputs {
    border-radius: .3rem;
    margin-bottom: .4rem;
    width: 100%;
}
   

#entrar {
    background-color:rgb(240, 191, 87);
    border: none;
    color: #ffffff;
    font-size: 1em;
}

#esqueci {
    border: 2px solid var(--cor-laranja);
    border-radius: .3rem;
    color: rgb(138, 111, 53);
    display: block;
    font-size: 1em;
    margin-bottom: .8rem;
    padding: .6rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}